//
// Base colors variables
//
$vl-primary: #C83F3A !default;
$vl-white: #FFF !default;
$vl-black: #3E3A4E !default;
$vl-gray-1: #B5B5B5 !default;
$vl-gray-2: #F6F6F6 !default;

//
// Specific colors for stuff
//
$vl-calendar-text-color: $vl-black !default;
$vl-calendar-bg-color: $vl-gray-2 !default;

$vl-weekday-text-color: $vl-primary !default;

$vl-selected-day-bg-color: $vl-primary !default;
$vl-selected-day-text-color: $vl-white !default;
